.navbar-idiomas {
    margin-top: 5px;
}

    .navbar-idiomas li a{
        font-size: 14px;
        padding-bottom: 0;
        margin: 0 10px;
    }


.imgPrincipal {
    border-bottom: solid 24px #1e1e1d;
}

.imgTexto {
    font-weight: 600;
    font-size: 50px;
    color: #6d1000;
    max-width: 768px;
}

    .imgTexto-interior {
        font-size: 35px;
    }

.btn-enviar {
    background: none;
    color: #363535;
    font-weight: 600;
    font-size: 18px;
    padding-top: 0;
}

.seccionInicio {
    padding-bottom: 160px;
    padding-top: 95px;
}z

    .seccion-titulo {
        font-weight: 600;
        font-size: 40px;
        color: #fefefe;
    }

    .seccion-parrafo {
        font-weight: 400;
        font-size: 25px;
        color: #fff;
    }

    .seccion-contenedorIconos,
    .seccion-contenedorIconos a {
        font-weight: 400;
        font-size: 20px;
        color: #fff;
        text-align: center;
    }

        .seccion-contenedorIconos .col-sm-2 {
            padding: 0 25px;
        }

        .seccion-contenedorIconos img {
            max-height: 76px;
            margin-bottom: 30px;
        }

        .bgNosotros {
            background: #363535;
            color: #fefefe;
        }

        .bgProgramas {
            background: #2563bc;
            color: #fefefe;
        }

        .bgServicios {
            background: #b1402f;
            color: #fefefe;
        }

        .bgCapacidades {
            background: #363535;
            color: #fefefe;
        }

        .bgContacto {
            background: #fff;
            font-weight: 600;
            font-size: 20px;
            color: #363535;
        }



.seccion-titulo {
    margin-bottom: 80px;
}

    .bgContacto .seccion-titulo {
        color: #363535;
    }

.seccion-parrafo {
    margin-bottom: 160px;
}

.contactoInfo {
    margin-bottom: 25px;
}

    .contacto-icon {
        position: absolute;
    }

    .contacto-info {
        display: inline-block;
        margin-left: 48px;
    }

.seccionIterior {

}

    .seccionInterior-titulo {
        font-weight: 600;
        font-size: 40px;
        color: #fff;
        margin-top: 0;
    }

    .seccionInterior-info{
        font-weight: 400;
        font-size: 25px;
        color: #fff;
    }

    .seccionInterior-img{
        margin-top: 150px;
    }

    .bgInterior {
        background: #682b2b;
        color: #fff;
    }

    .bgInterior--secundario {
       background: #929191;
        color: #fff;
    }

        .primario {
            color: #363535;
        }

        .secundario {
            color: #fff;
        }

.contenedorRedes img {
    margin-right: 15px;
}

.piePagina {
    background: #262425;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    height: 138px;
    padding-top: 45px;
}

#top-contenedor {
    background-color : rgba(255, 255, 255, .7);
    border-radius    : 5px 5px 0 0;
    display: none;
    bottom           : 0;
    padding          : 3px 5px;
    position         : fixed;
    right            : 25px;
}

    #top-contenedor i {
        font-size: 25px;
    }

.menu-scroll {
    min-height: 93px;
    background-color: rgba(255, 255, 255, .95);
    -moz-transition   : all 0.3s ease-out;  /* FF4+ */
    -o-transition     : all 0.3s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition    : all 0.3s ease-out;  /* IE10 */
    transition        : all 0.3s ease-out;
}

.menu-scroll .navbar-nav {
    margin-top: 0;
    -moz-transition   : all 0.3s ease-out;  /* FF4+ */
    -o-transition     : all 0.3s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition    : all 0.3s ease-out;  /* IE10 */
    transition        : all 0.3s ease-out;
}
    .menu-scroll .navbar-brand {
        margin: 0;
        padding-bottom: 0;
        padding-top: 0;
        -moz-transition   : all 0.3s ease-out;  /* FF4+ */
        -o-transition     : all 0.3s ease-out;  /* Opera 10.5+ */
        -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
        -ms-transition    : all 0.3s ease-out;  /* IE10 */
        transition        : all 0.3s ease-out;

    }




/* Utilerias */
.u-gradiente {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background: rgba(255,255,255,0.2);  For browsers that do not support gradients
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(left,rgba(255,255,255,0.1),rgba(255,255,255,0.6));
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(left,rgba(255,255,255,0.1),rgba(255,255,255,0.6));
    /* For Fx 3.6 to 15 */
    background: -moz-linear-gradient(left,rgba(255,255,255,0.1),rgba(255,255,255,0.6));
    /* Standard syntax */
    background: linear-gradient(to right,rgba(255,255,255,0.1),rgba(255,255,255,0.6));
}

    .u-margenInferior{
        /* Firefox */
        height: -moz-calc(100% - 49px);
        /* WebKit */
        height: -webkit-calc(100% - 49px);
        /* Opera */
        height: -o-calc(100% - 49px);
        /* Standard */
        height: calc(100% - 49px);
    }

.u-noMargin {
    margin: 0;
    padding: 0;
    position: relative;
}

.u-absolutaImagen {
    position: absolute;
    top: 25%;
    left: 100px;
}

.u-ident {
    margin-left: 50px;
}
.u-oculto {
    display: none;
}

/* MEDIA QUERYS */
@media (max-width: 990px) {
  .imgTexto {
    font-size: 40px;
  }
}

@media (max-width: 805px) {
  .imgTexto {
    font-size: 35px;
  }
}

@media (max-width: 668px) {
  .imgTexto {
    font-size: 25px;
    left: 15px;
  }
}

@media (max-width: 468px) {
  .imgTexto {
    font-size: 20px;
    left: 15px;
  }
}

