.contacto {
    background: color(color-white);
    h2 {
        text-align: center;
    }
    .contacto-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 'location' 'formulario';
        .contacto-location {
            margin: 10px;
            grid-area: location;
            div {
                padding: 15px;
            }
        }
        .contacto-form {
            margin: 15px;
            grid-area: formulario;
            form {
                .input-text {
                    border-radius: 5px;
                    border: color(color-nosotros) 3px solid;
                    padding: 5px 10px;
                    margin: 5px 0;
                    width: 90%;
                    &:focus {
                        border: darken(color(color-nosotros), 5) 3px solid;
                        border-radius: 5px;
                    }
                }
                .btn {
                    border: none;
                    padding: 10px;
                    width: 100%;
                }
                .btn-primary {
                    background: color(primary-color);
                    border: color(color-nosotros) 1px solid;
                    border-radius: 5px;
                    color: color(color-white);
                    &:hover {
                        cursor: pointer;
                        background: lighten(color(primary-color), 5);
                        transition: all .5s ease-in-out;
                    }
                }
            }
        }
    }
}