.programas-data {
    position: relative;
    width: 100%;
    margin-top: -15px;
    &:before {
        @include circleSection;
    }
}

.programas-info {
    background: color(color-programas);
    margin: 0;
    position: relative;
    top: -15px;
    -webkit-z-index: -3;
    -moz-z-index: -3;
    -ms-z-index: -3;
    -o-z-index: -3;
    z-index: -3;
    &:before {
        content: '';
        width: 0px;
        height: 0px;
        display: inline-block;
        border-top: 15px solid color(color-white);
        border-right: 15px solid color(color-programas);
        border-bottom: 15px solid color(color-programas);
        border-left: 15px solid color(color-programas);
        position: absolute;
        right: 46%;
        z-index: 3;
    }
    .programas-opciones {
        @include systemGrid;
        grid-template-areas: 'mercado' 'consumidor' 'productividad' 'fuerza';
        .programas-menu {
            a {
                color: color(color-white);
                text-decoration: none;
                &:hover {
                    color: color(primary-color);
                    transition: all 1s ease-in-out;
                    font-size: 20px;
                }
            }
        }
        .programas-mercado {
            grid-area: mercado;
        }
        .programas-consumidor {
            grid-area: consumidor;
        }
        .programas-productividad {
            grid-area: productividad;
        }
        .programas-fuerza {
            grid-area: fuerza;
        }
    }
}

.programas-admin {
    color: color(color-white);
    padding-bottom: 20px;
    .programas-admin-info-text {
        padding-top: 30px;
    }
    section {
        margin: 10px;
        ul {
            list-style: none;
            li {
                margin: 5px 0;
            }
        }
    }
}

.fidelizacion {
    background: color(color-white);
    color: color(color-black);
    width: 100%;
    padding: 20px;
    h2 {
        text-align: center;
        font-size: 25px;
    }
    section {
        ul {
            list-style: none;
            li {
                margin: 5px 0;
            }
        }
    }
}

.productividad {
    background: color(color-mision);
    width: 100%;
    color: color(color-white);
    padding: 20px;
    h2 {
        text-align: center;
        font-size: 25px;
    }
    section {
        ul {
            list-style: none;
            li {
                margin: 5px 0;
            }
        }
    }
}

.fuerza-ventas {
    background: color(color-white);
    color: color(color-black);
    width: 100%;
    padding: 20px;
    h2 {
        text-align: center;
        font-size: 25px;
    }
    section {
        ul {
            list-style: none;
            li {
                margin: 5px 0;
            }
        }
    }
}