@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@-webkit-keyframes animated {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animated {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  background: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;
}

header .logo {
  width: 200px;
  height: 80px;
  margin-left: 30px;
  margin-top: 20px;
}

header nav .line-menu .menu-btn {
  position: absolute;
  z-index: 210;
  right: 50px;
  top: 50px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

header nav .line-menu .menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #000000;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

header nav .line-menu .menu-btn.close {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

header nav .line-menu .menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
  transform: rotate(45deg) translate(5px, 5px);
}

header nav .line-menu .menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

header nav .line-menu .menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
  transform: rotate(-45deg) translate(7px, -6px);
}

header nav #nav {
  list-style-type: none;
  background: #640506;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 90px;
  overflow: hidden;
  -webkit-animation: animated 1.5s ease-in-out;
          animation: animated 1.5s ease-in-out;
}

header nav #nav .nav-item {
  margin: 30px 0;
  position: relative;
  left: -39px;
  padding: 10px;
  width: 100%;
  overflow: hidden;
}

header nav #nav .nav-item:hover a {
  background: #bebebe;
  color: #000000;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

header nav #nav .nav-item a {
  color: #ffffff;
  text-decoration: none;
}

header nav .hide-mobile {
  display: none;
}

.main {
  margin-top: 110px;
}

.main .img-responsive {
  position: relative;
  width: 100%;
  opacity: 0.5;
}

.main .text-info-img {
  color: #640506;
  position: absolute;
  top: 19%;
  margin: 10px;
}

.main .nosotros-info {
  background: #363535;
  position: relative;
}

.main .nosotros-info:before {
  content: '';
  width: 40px;
  height: 40px;
  background: #fff;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 0;
  z-index: 3;
  border-radius: 50%;
  border-bottom: #363535 1px solid;
}

.main .nosotros-info-text {
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

.main .nosotros-info-text .text-info {
  margin: 0 10px;
}

.main .nosotros-info .nosotros-opciones {
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
      grid-template-areas: 'quienes' 'hacemos' 'mision' 'vision' 'organizacion' 'valores';
}

.main .nosotros-info .nosotros-opciones .nosotros-menu a {
  color: #fff;
  text-decoration: none;
}

.main .nosotros-info .nosotros-opciones .nosotros-menu a:hover {
  color: #640506;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  font-size: 20px;
}

.main .nosotros-info .nosotros-opciones .nosotros-quienes {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: quienes;
}

.main .nosotros-info .nosotros-opciones .nosotros-hacemos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: hacemos;
}

.main .nosotros-info .nosotros-opciones .nosotros-mision {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: mision;
}

.main .nosotros-info .nosotros-opciones .nosotros-vision {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: vision;
}

.main .nosotros-info .nosotros-opciones .nosotros-organizacion {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: organizacion;
}

.main .nosotros-info .nosotros-opciones .nosotros-valores {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: valores;
}

.main .servicios-data {
  position: relative;
  width: 100%;
  margin-top: 5px;
}

.main .servicios-data:before {
  content: '';
  width: 40px;
  height: 40px;
  background: #fff;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 0;
  z-index: 3;
  border-radius: 50%;
  border-bottom: #363535 1px solid;
}

.main .serivicios-info {
  background: #b1402f;
  margin: 0;
  position: relative;
  top: -17px;
  -webkit-z-index: -3;
  -moz-z-index: -3;
  -ms-z-index: -3;
  -o-z-index: -3;
  z-index: -3;
}

.main .serivicios-info:before {
  content: '';
  width: 0px;
  height: 0px;
  display: inline-block;
  border-top: 15px solid #fff;
  border-right: 15px solid #b1402f;
  border-bottom: 15px solid #b1402f;
  border-left: 15px solid #b1402f;
  position: absolute;
  right: 46%;
  z-index: 3;
}

.main .serivicios-info .servicios-opciones {
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
      grid-template-areas: 'administracion' 'fulfillment' 'comunicaciones';
}

.main .serivicios-info .servicios-opciones .servicios-menu a {
  color: #fff;
  text-decoration: none;
}

.main .serivicios-info .servicios-opciones .servicios-menu a:hover {
  color: #640506;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  font-size: 20px;
}

.main .serivicios-info .servicios-opciones .servicios-administracion {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: administracion;
}

.main .serivicios-info .servicios-opciones .servicios-fulfillment {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fulfillment;
}

.main .serivicios-info .servicios-opciones .servicios-comunicaciones {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: comunicaciones;
}

.main .programas-data {
  position: relative;
  width: 100%;
  margin-top: -15px;
}

.main .programas-data:before {
  content: '';
  width: 40px;
  height: 40px;
  background: #fff;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 0;
  z-index: 3;
  border-radius: 50%;
  border-bottom: #363535 1px solid;
}

.main .programas-info {
  background: #2563bc;
  margin: 0;
  position: relative;
  top: -15px;
  -webkit-z-index: -3;
  -moz-z-index: -3;
  -ms-z-index: -3;
  -o-z-index: -3;
  z-index: -3;
}

.main .programas-info:before {
  content: '';
  width: 0px;
  height: 0px;
  display: inline-block;
  border-top: 15px solid #fff;
  border-right: 15px solid #2563bc;
  border-bottom: 15px solid #2563bc;
  border-left: 15px solid #2563bc;
  position: absolute;
  right: 46%;
  z-index: 3;
}

.main .programas-info .programas-opciones {
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
      grid-template-areas: 'mercado' 'consumidor' 'productividad' 'fuerza';
}

.main .programas-info .programas-opciones .programas-menu a {
  color: #fff;
  text-decoration: none;
}

.main .programas-info .programas-opciones .programas-menu a:hover {
  color: #640506;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  font-size: 20px;
}

.main .programas-info .programas-opciones .programas-mercado {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: mercado;
}

.main .programas-info .programas-opciones .programas-consumidor {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: consumidor;
}

.main .programas-info .programas-opciones .programas-productividad {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: productividad;
}

.main .programas-info .programas-opciones .programas-fuerza {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: fuerza;
}

.main .contacto {
  background: #fff;
}

.main .contacto h2 {
  text-align: center;
}

.main .contacto .contacto-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: 'location' 'formulario';
}

.main .contacto .contacto-info .contacto-location {
  margin: 10px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: location;
}

.main .contacto .contacto-info .contacto-location div {
  padding: 15px;
}

.main .contacto .contacto-info .contacto-form {
  margin: 15px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: formulario;
}

.main .contacto .contacto-info .contacto-form form .input-text {
  border-radius: 5px;
  border: #363535 3px solid;
  padding: 5px 10px;
  margin: 5px 0;
  width: 90%;
}

.main .contacto .contacto-info .contacto-form form .input-text:focus {
  border: #292828 3px solid;
  border-radius: 5px;
}

.main .contacto .contacto-info .contacto-form form .btn {
  border: none;
  padding: 10px;
  width: 100%;
}

.main .contacto .contacto-info .contacto-form form .btn-primary {
  background: #640506;
  border: #363535 1px solid;
  border-radius: 5px;
  color: #fff;
}

.main .contacto .contacto-info .contacto-form form .btn-primary:hover {
  cursor: pointer;
  background: #7c0607;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.footer {
  background: #262425;
  height: 80px;
  padding: 30px 50px;
}

.footer span {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */