.servicios-data {
    position: relative;
    width: 100%;
    margin-top: 5px;
    &:before {
        @include circleSection;
    }
}

.serivicios-info {
    background: color(color-servicios);
    margin: 0;
    position: relative;
    top: -17px;
    -webkit-z-index: -3;
    -moz-z-index: -3;
    -ms-z-index: -3;
    -o-z-index: -3;
    z-index: -3;
    &:before {
        content: '';
        width: 0px;
        height: 0px;
        display: inline-block;
        border-top: 15px solid color(color-white);
        border-right: 15px solid color(color-servicios);
        border-bottom: 15px solid color(color-servicios);
        border-left: 15px solid color(color-servicios);
        position: absolute;
        right: 46%;
        z-index: 3;
    }
    .servicios-opciones {
        @include systemGrid;
        grid-template-areas: 'administracion' 'fulfillment' 'comunicaciones';
        .servicios-menu {
            a {
                color: color(color-white);
                text-decoration: none;
                &:hover {
                    color: color(primary-color);
                    transition: all 1s ease-in-out;
                    font-size: 20px;
                }
            }
        }
        .servicios-administracion {
            grid-area: administracion;
        }
        .servicios-fulfillment {
            grid-area: fulfillment;
        }
        .servicios-comunicaciones {
            grid-area: comunicaciones;
        }
    }
    .servicios-complete {
        padding-bottom: 20px;
        ul {
            list-style: none;
            li {
                color: color(color-white);
                margin: 5px 0;
            }
        }
    }
}

.administracion-servicios {
    background: color(color-white);
    width: 100%;
    color: color(color-black);
    padding: 20px;
    h2 {
        text-align: center;
        font-size: 25px;
    }
    section {
        ul {
            list-style: none;
            li {
                margin: 5px 0;
            }
        }
    }
}

.fulfillment {
    background: color(color-mision);
    width: 100%;
    padding: 20px;
    margin: 0;
    color: color(color-white);
    h2 {
        text-align: center;
        font-size: 25px;
    }
    section {
        ul {
            list-style: none;
            li {
                margin: 5px 0;
            }
        }
    }
}

.comunicaciones {
    background: color(color-white);
    width: 100%;
    padding: 20px;
    color: color(color-black);
    h2 {
        text-align: center;
        font-size: 25px;
    }
}