/*---Colores de la Página---*/
/*Color fondo #005480*/
/*Azul Fuerte #014765*/
/*Azul Claro  #B2D8E1*/
/*Amarillo    #E6EC34*/
/*azul claroL #9CD9F8*/
/*--- ---*/

html, body{height:100%;background-color:#005480;font-size:15px;font-family:calibri;margin:0;padding:0;}
a{text-decoration:none;border:none;}
img{border:none;}
table{margin:0;padding:0;}
    
#principal{position:relative;width:100%;height:100%;top:30px;left:0;}

#dvFace{position:absolute;left:200px;top:15px;width:150px;height:20px;}
    .txtbl{font-weight:bold;font-size:14px;color:#fff;}

#dvTrans{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;z-index:200;filter:alpha(opacity=60);opacity:0.6;display:none;}
#dvSolid{position:absolute;top:0;left:0;width:100%;height:100%;z-index:300;display:none;}
    #dvLreglas{position:relative;background:#014765;width:880px;height:360px;margin:100px auto;}
    
#cont{width:900px;height:600px;position:relative;margin:0 auto;}
	#enc{width:900px;height:163px;float:left;background-image:url("../img/balog.gif");position:relative}
		#logoBK{width:200px;height:60px;position:absolute;text-align:center;top:5px;left:750px;z-index:200;}
		#infoP{position:absolute;width:377px;height:59px;background:#000;top:17px;left:490px;z-index:10;}
		#infoPS{position:absolute;width:374px;height:59px;padding:0 0 0 3px;top:17px;left:490px;color:#fff;z-index:100;font-size:12px;}
		#menu{width:700px;height:38px;position:absolute;top:120px;left:200px}
        

        #dviLogin{position:absolute;width:300px;height:200px;top:100px;left:50%;margin-left:-150px;border:solid 1px #fff;}
        #logoLogin{position:absolute;width:170px;height:170px;left:50%;margin-left:-85px;top:4px;text-align:center;z-index:100;}
        
        #dvChP{margin:100px auto;border:1px solid #fff;width:400px;height:280px;color:#FFCC00;font-weight:bold;}
    
	#cen{width:900px;height:400px;float:left;position:relative}
		#marco{position:absolute;width:880px;height:360px;padding:10px;background:#014765;top:10px;}
			#info{width:880px;height:360px;background:#FFF;position:relative}
				#infoDer{width:200px;height:340px;background:#B2D8E1;position:absolute;top:10px;left:10px;color:#fff;}
                    #infoDerC{position:absolute;width:280px;height:500px;padding:5px;top:10px;left:50%;margin-left:-140px;}
				#infoIzq{width:650px;height:340px;background:#B2D8E1;position:absolute;top:10px;left:220px;color:#fff;}
                    #infoIzqPS{position:absolute;width:630px;height:320px;overflow:auto;top:10px;left:10px;z-index:100;}
	#pie{width:890px;height:35px;padding:2px 5px 0 5px;float:left;position:relative;background:#014765;font-size:12px;color:#fff;}

.btn{display:block;text-align:center;width:100px;height:28px;padding:10px 0 0 0;color:#fff;font-weight:bold;background-image:url("../img/btn.gif");}
.btn:hover{color:yellow;font-size:15px;}
.opaco{filter:alpha(opacity=20);opacity:0.2;}
.btnCat{width:140px;height:10px;padding:0 0 0 2px;display:block;font-size:9px;color:#014765;font-weight:bold;}
.btnCat:hover{background:#005480;color:#E6EC34;font-weight:bold;}

.btnReg{width:160px;padding:4px 0 4px 0;display:block;font-size:10px;color:#014765;vertical-align:middle;font-weight:bold;text-align:left;}
.btnReg:hover{background:#005480;color:#E6EC34;}

.tdPreg{vertical-align:middle;}

.dvArti{width:610px;height:200px;float:left;}
    .dvFoto{float:left;width:200px;height:200px;}
    .dvInfA{width:410px;height:200px;float:left;position:relative}
        .dvTit{position:absolute;width:410px;height:22px;padding:3px 0 0 0;top:0;left:0;background:#014765;text-align:center;font-weight:bold;font-size:14px;color:#E6EC34}
        .dvDesc{position:absolute;width:300px;height:165px;padding:5px;top:25px;left:0;text-align:justify;color:#014765;}
        .dvPunt{position:absolute;width:100px;height:175px;top:25px;left:310px;color:#EF9C00;font-size:18px;text-align:center;}
            .dvPts{width:100px;height:70px;padding:30px 0 0 0;float:left;}
            .dvCar{width:100px;height:75px;float:left;} 
.btnCar{display:block;width:64px;height:64px;background-image:url("../img/sc.gif");color:;}

#dvfCar{width:880px;height:360px;position:relative;}
    #dvcCar{position:absolute;top:10px;left:10px;width:840px;height:220px;padding:10px;background:#B2D8E1;overflow:auto;color:#fff;} 
    #dvBt{position:absolute;top:260px;left:10px;width:860px;height:27px;padding:3px 0 0 0;background:#B2D8E1;}
    #dvcTot{position:absolute;top:300px;left:10px;width:860px;height:47px;padding:3px 0 0 0;background:#B2D8E1;}
    
    .botonCar{display:block;width:200px;height:18px;background-image:url("../img/fb.png");color:#fff;font-weight:bold;text-align:center;}
    .botonCar:hover{background-image:url("../img/fbh.png");}  
    
    .tit{font-size:16px;font-weight:bold;color:#005480;width:286px;height:40px;text-align:center;}
    .btnECar{background-image:url("../img/fbotCar.gif");color:#EF9C00;height:31px;width:116px;padding:9px 0 0 12px;display:block;text-align:left;font-size:16px;font-weight:bold;}
    .btnECar:hover{color:#fff;}
    .titB{font-size:18px;font-weight:bold;color:#014765;}
    .titN{font-size:15px;font-weight:bold;color:#014765;text-align:center;}
    
    .txtN{font-size:14px;color:#014765;font-weight:bold;}
    .txtG{font-size:17px;font-weight:bold;}
    
    .inpCar{width:20px;height:20px;text-align:center;}
    
    .tdEnc{height:30px;height:30px;background:#014765;color:#fff;}
    .tdCue{height:20px;color:#005480;}
    .enc1{width:65px;text-align:center;}   
    .enc2{width:100px;text-align:center;}   
    .enc3{width:400px;text-align:center;}   
    .enc4{width:65px;text-align:center;}

    #infoDircan{width:630px;height:320px;padding:10px;} 
    #infContCar{width:180px;height:320px;padding:10px;color:#005480;}
    
    .derecha{text-align:right;}
    .etq{font-weight:bold;color:#005480;}
    
    .inpDir{width:400px;height:20px;}
    
    .dvComp{width:880px;height:360px;position:relative;background:#B2D8E1;}
    .folio{font-size:35px;font-weight:bold;color:#014765;}
    
    #dReg{position:absolute;width:180px;height:320px;left:10px;top:10px;text-align:center;}
    #contRegla{position:absolute;width:630px;height:320px;top:10px;left:10px;background:#fff;}
    #titRegla{width:630px;height:23px;padding:7px 0 0 0;text-align:center;background:#014765;color:#E6EC34;font-weight:bold;}
    #infoRegla{width:610px;height:270px;padding:10px;text-align:justify;overflow:auto;color:#014765;}
    
    #vbBtnC{position:absolute;top:250px;left:30px;}
    
    /*Color fondo #005480*/
/*Azul Fuerte #014765*/
/*Azul Claro  #B2D8E1*/
/*Amarillo    #E6EC34*/
/*azul claroL #9CD9F8*/
    
    .tbEnc{background:#014765;color:#E6EC34;text-align:center;padding:5px;}
    .tbCel{background:#CCCCCC;text-align:justify;padding:3px;}
    
    .titulo_tab{font-weight:bold;background:#014765;color:#ffffff;text-align:center;}
    .tdborder{width:150px;height:15px;background:#DA7E33;color:#000;text-align:center;font-weight:bold;font-size:12px}
    .tdborderI{background:#005480;color:#fff;text-align:center;font-weight:bold;}
    .tdborderI1{background:#005480;color:#fff;text-align:center;font-weight:bold;}
    #sinInfo{width:500px;height:170px;padding:130px 0 0 0;margin:20px auto;color:#014765;font-weight:bold;text-align:center;font-size:18px;}
    
    #iniMsg{position:absolute;top:10px;left:10px;background-image:url("../img/fini.gif");width:740px;height:320px;padding:10px;color:#0C1C1F;font-size:15px;}
    #iniImg{position:absolute;top:10px;left:610px;width:260px;height:290px;padding:50px 0 0 0;text-align:right;}
    
    #dvTri{position:absolute;top:10px;left:10px;width:560px;height:320px;padding:10px;background:#B2D8E1;overflow:auto;}
        .dvPreg{float:left;width:520px;padding:10px;background:#014765;color:#fff;font-weight:bold;text-align:left;}
        .dvResp{float:left;width:520px;padding:0 10px 10px 10px;text-align:left;background:#014765;}
            .txtAresp{width:515px;height:50px;font-weight:bold}
            .respN{color:#B2D8E1;}        
        .dvEspacio{float:left;width:540px;height:10px;}
    #dvQue{position:absolute;top:10px;left:600px;width:270px;height:340px;}
    .msgTr{font-size:16px;font-weight:bold;}
    
    .txtB{color:#fff;font-weight:bold;text-align:left;}
    .inp{font-weight:bold;text-align:center;width:150px;}
    
    .inpCCAR{width:30px;height:13px;font-size:10px;text-align:center;}
    
    .tdTtitulo,.tdDatos{font-weight:bold;font-size:14px;text-align:left;padding:0 5px 0 5px;}
    .tdTtitulo{background:#014765;color:#fff;}
    .tdDatos{background:#fff;color:#014765;}
    
/*Estilos versión movil*/

.mvBtnMenu{width:280px;height:55px;text-align:left;padding:0 0 0 5px;background:#032144;color:#fff;font-weight:bold;font-size:20px;display:block;}
.mvBtnMenu:hover{letter-spacing:3px;}
.mvBtnMenu2{width:240px;height:27px;text-align:left;padding:8px 0 0 5px;background:#032144;color:#fff;font-weight:bold;font-size:16px;display:block;}
.mvMsg1{font-weight:bold;color:#fff;font-size:18px;}
.mvtbl{width:100%;}
.mvTd1,.mvTd2{width:50%}
.mvTd1{text-align:left;}
.mvTd2{text-align:right}
.mvfontWa{color:#fff;font-weight:bold;font-size:20px;}

.mvContProd{margin:0 auto;width:300px;height:100px}
    .mvImgp{width:100px;height:100px;float:left;}
    .mvCod{color:yellow;font-weight:bold;text-align:center;width:200px;background:#000;height:20px;float:left;}
    .mvDesc{color:#fff;font-weight:bold;text-align:center;width:200px;background:#032144;height:55px;float:left;}
    .mvPuntos{color:yellow;font-weight:bold;text-align:center;width:200px;height:20px;float:left;background:#000;}
    
.mvtdC{text-align:center;font-weight:bold;color:#fff;background:#032144;}
.txtbl{color:#fff;font-weight:bold;}
.mvBtnC{color:#fff;font-weight:bold;width:60px;height:20px;text-align:center;background:#000;display:block}